@page
@model LoginModel

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-8">
            <div class="card-body p-4">
                <h2 class="mb-4 text-center">Log in</h2>
                <form id="account" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                        <label asp-for="Input.Email" class="form-label">Email</label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                        <label asp-for="Input.Password" class="form-label">Password</label>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <label asp-for="Input.RememberMe" class="form-label">
                            <input class="form-check-input text-secondary" asp-for="Input.RememberMe" />
                            Keep me logged in
                        </label>

                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="link-secondary text-decoration-none">Create new account</a>
                    </div>
                    <div class="d-grid">
                        <button id="login-submit" type="submit" class="btn btn-dark btn-lg">Log in</button>
                    </div>
                </form>
                <hr class="my-4">
                <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <div class="d-grid">
                        @foreach (var provider in Model.ExternalLogins!)
                        {
                            @if (provider.Name == "Google")
                            {
                                <button type="submit" name="provider" value="@provider.Name" class="btn btn-lg btn-outline-dark">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-google" viewBox="0 0 16 16">
                                        <path d="M15.545 6.558a9.42 9.42 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.689 7.689 0 0 1 5.352 2.082l-2.284 2.284A4.347 4.347 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.792 4.792 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.702 3.702 0 0 0 1.599-2.431H8v-3.08h7.545z" />
                                    </svg>
                                    <span class="fs-6 ms-2">Log in with Google</span>
                                </button>
                            }
                        }
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
