@page "/app"
@using Microsoft.AspNetCore.Authorization;
@inject IJSRuntime JSRuntime
@inject ISnippetService SnippetService
@inject NavigationManager NavigationManager
@attribute [Authorize]

<PageTitle>Home</PageTitle>

<div class="flex flex-col items-center p-14">
    <div class="mb-3 flex items-center md:w-[50%]">
        <input class="w-full appearance-none rounded-lg border px-5 py-2 text-gray-700 shadow focus:outline-none focus:shadow-outline" placeholder="Search.." @bind="searchString" @onkeyup="HandleKeyPress">
        <button class="ml-2 self-start rounded-lg bg-purple-500 p-2 shadow-md hover:bg-purple-800" @onclick="Search">
            <i class="fa-solid fa-magnifying-glass w-6 text-white"></i>
        </button>
        <button class="ml-2 self-start rounded-lg bg-purple-500 p-2 shadow-md hover:bg-purple-800" @onclick="CreateNewSnippet">
            <i class="fa-solid fa-plus w-6 text-white"></i>
        </button>
    </div>

    <table class="table-auto border-collapse md:w-[50%]">
        <tbody>
            @foreach (var snippet in SnippetService.Snippets)
            {
                <tr class="border-b border-gray-200">
                    <td class="py-2">
                        <a class="font-semibold hover:text-purple-800" href="/app/snippet/@snippet.Id">@snippet.Title</a>
                    </td>
                    <td class="py-2 text-right">
                        <span class="ml-2">
                            <button class="rounded-lg border bg-transparent px-4 py-2 font-semibold text-black shadow hover:bg-purple-600 hover:text-white hover:border-transparent" @onclick="(() => CopyToClipboard(snippet.Id, snippet.Body))">
                                <i id="@($"copy-icon-{snippet.Id}")" class="fa-regular fa-clipboard"></i>
                            </button>
                        </span>
                        <span class="ml-2">
                            <button class="rounded-lg border bg-transparent px-4 py-2 font-semibold text-black shadow hover:bg-purple-600 hover:text-white hover:border-transparent" @onclick="(() => DeleteSnippet(snippet.Id))">
                                <i class="fa-regular fa-trash-can"></i>
                            </button>
                        </span>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        await SnippetService.GetSnippets();
    }

    private void HandleKeyPress(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            Search();
        }
    }

    private string searchString = "";

    async void Search()
    {
        await SnippetService.SearchSnippets(searchString);
        StateHasChanged(); // Trigger a re-render of the component
    }

    async void DeleteSnippet(int id)
    {
        await SnippetService.DeleteSnippet(id);
        await SnippetService.GetSnippets();
        StateHasChanged();
    }

    void CreateNewSnippet()
    {
        NavigationManager.NavigateTo("/app/snippet");
    }

    async Task CopyToClipboard(int snippetId, string snippetBody)
    {
        await JSRuntime.InvokeVoidAsync("changeCopyIconTemporary", snippetId);
        await JSRuntime.InvokeVoidAsync("navigator.clipboard.writeText", snippetBody);
    }
}