@page "/"
@using Microsoft.AspNetCore.Authorization;
@inject IJSRuntime JSRuntime
@inject ISnippetService SnippetService
@inject NavigationManager NavigationManager
@inherits LayoutComponentBase

<div class="-z-10 fixed left-0 top-0 h-full w-full"><div class="-z-10 bg-[linear-gradient(to_right,#f0f0f0_1px,transparent_1px),linear-gradient(to_bottom,#f0f0f0_1px,transparent_1px)] absolute inset-0 h-full w-full bg-white bg-[size:6rem_4rem]"><div class="bg-[radial-gradient(circle_800px_at_100%_200px,#d5c5ff,transparent)] absolute bottom-0 left-0 right-0 top-0"></div></div></div>
<div class="fixed flex h-full w-full flex-col items-center justify-center text-center md:px-[30%]">
    <h1 class="mb-6 text-7xl font-extrabold tracking-wide">Snippy</h1>
    <p class="mb-10 p-5 text-2xl">Snippet manager for developers designed to effortlessly create and organize your own personal snippet collection and have quick access to it</p>
    <a href="/app">
    <button class="group relative inline-flex h-12 items-center justify-center overflow-hidden rounded-md bg-neutral-950 px-6 font-medium text-neutral-200"><span>Get Started</span><div class="absolute inset-0 flex h-full w-full justify-center [transform:skew(-12deg)_translateX(-100%)] group-hover:duration-1000 group-hover:[transform:skew(-12deg)_translateX(100%)]"><div class="bg-white/20 relative h-full w-8"></div></div></button>
    </a>
</div>