@page "/"
@using Microsoft.AspNetCore.Authorization;
@inject IJSRuntime JSRuntime
@inject ISnippetService SnippetService
@inject NavigationManager NavigationManager
@inherits LayoutComponentBase

<div class="flex min-h-screen flex-col items-center justify-center bg-gradient-to-b from-purple-50 to-white text-center md:px-[30%]">
    <h1>Snippy</h1>
    <p class="p-5 text-2xl">Snippet manager for developers designed to effortlessly create and organize your own personal snippet collection and have quick access to it</p>

    <a class="rounded-lg bg-purple-500 px-4 py-2 font-semibold text-white shadow-md hover:bg-purple-800" href="/app">Get Started</a>
</div>