@page "/"
@using Microsoft.AspNetCore.Authorization;
@inject IJSRuntime JSRuntime
@inject ISnippetService SnippetService
@inject NavigationManager NavigationManager

<h1>Welcome to Code Snippet Manager</h1>

<p>Please log in to access your code snippets.</p>
