<header class="z-50 flex items-center justify-between bg-white px-4 py-4 shadow-lg md:px-10">
    <div class="flex items-center">
        <nav class="flex text-lg font-semibold text-gray-600">
            <NavLink ActiveClass="text-purple-800" href="" Match="NavLinkMatch.All" class="mr-4 md:mr-10">Snippy</NavLink>
            <NavLink ActiveClass="text-purple-800" href="/app">Home</NavLink>
        </nav>
    </div>
    <div class="flex items-center">
        <LoginDisplay />
    </div>
</header>
