<header class="flex items-center justify-between bg-white px-10 py-4 shadow-lg dark:bg-gray-700">
    <div class="flex items-center">
        <nav class="flex text-lg font-semibold text-gray-600 dark:text-gray-300">
            <NavLink ActiveClass="text-purple-800 dark:text-purple-400" href="" Match="NavLinkMatch.All" class="mr-10 font-semibold">Snippy</NavLink>
            <NavLink ActiveClass="text-purple-800 dark:text-purple-400" href="/app" class="font-semibold">Home</NavLink>
        </nav>
    </div>
    <div class="flex items-center">
        <LoginDisplay />
    </div>
</header>
